Repository w3c/web-platform-tests, changes with the owners that CODEOWNERS names for each.
All owners: @gsnedders, @inexorabletash, @jdm, @mkruisselbrink, @zcorpan, @zqzhang, @chunywang, @dumbmatter, @odinho, @yunxiaoxie, @zhaozihao, @Wafflespeanut, @engelke, @jimsch, @domenic, @jensl, @tobie, @yuki3, @Manishearth, @annevk, @caitp, @emilio, @hallvors, @ibelem, @jungkees, @kangxu, @mathiasbynens, @ronkorving, @wisniewskit, @Honry, @alexshalamov, @dontcallmedom, @pozdnyakov, @riju, @Volker-E, @bigbluehat, @halindrome, @tcole3, @gkellogg, @happyoungj, @NavidZ, @beverloo, @jakearchibald, @anssiko, @g-ortuno, @jyasskin, @scheib, @garykac, @deniak, @sideshowbarker, @domfarolino, @pwnall, @hillbrad, @fantasai, @bert-github, @chenxix, @dbaron, @frivoal, @kojiishi, @kwkbtr, @svgeesus, @r12a, @khaledhosny, @rsheeter, @cabanier, @nikosandronikos, @plinss, @birtles, @grorg, @tabatkins, @bradkemper, @astearns, @atanassov, @cbiesinger, @mrego, @litherum, @nattokirai, @dauwhe, @javifernandez, @jxs, @svillar, @tomalec, @dirkschulze, @SimonSapin, @jihyerish, @upsuper, @rniwa, @bemjb, @zhorvath, @danielweck, @tantek, @gregwhitworth, @simonsapin, @FremyCompany, @hakatashi, @nox, @hober, @minxhuang, @web-flow, @hshiozawa, @myakura, @snsk, @JianfengXu, @therealglazou, @peterjoel, @tschneidereit, @jgraham, @ayg, @drott, @bfgeek, @shans, @BorisChiou, @lilles, @rune-opera, @AutomatedTester, @alsemenov, @deepak-sa, @dominiccooney, @hayatoito, @sgrekhov, @takayoshikochi, @ChrisParis, @joanmarie, @ddorwin, @Yaffle, @mnot, @youennf, @aliams, @foolip, @jernoble, @luser, @mcasas, @igrigorik, @plehegar, @toddreifsteck, @omo, @chaals, @cptvitamin, @haoxli, @tagawa, @johanneswilm, @siusin, @shishimaru, @wolenetz, @miguelao, @agouaillard, @alvestrand, @kristijanburnik, @yoavweiss, @xinliux, @alphan102, @edenchuang, @marcoscaceres, @EvgenyAgafonchikov, @RByers, @Steditor, @bethge, @jacobrossi, @scottgonzalez, @staktrace, @louaybassbouss, @tidoust, @estark37, @jeisinger, @ehsan, @mattto, @wanderview, @calvaris, @ricea, @tyoshino, @yutakahirano, @fmarier, @jonathanKingston, @mastahyeti, @metromoxie, @mikewest, @heycam, @bobholt, @cynthia, @jtangelder, @GPHemsley, @Sebmaster, @TimothyGu, @rubys, @smola, @xiaojunwu, @kenchris, @zolkis, @mgiuca, @chrislo, @padenot, @rtoy, @apowers313, @andreastt, @lukeis, @mjzffr, @shs96c, @aogilvie, @guidou, @henbos, @phoglund, @rwaldron, @Jxck, @reillyeon, @klausw, @BenjaminSchaaf, @silviapfeiffer

WebKit export of https://bugs.webkit.org/show_bug.cgi?id=194760
  html/semantics/embedded-content/media-elements/replay.html
Owners: none

HTML: Test that <details open> fires the event even from the parser.
  html/semantics/interactive-elements/the-details-element/toggleEvent.html
Owners: none

Export made from a WebKit repository
  css/css-sizing/min-width-max-width-precedence.html
Owners: none

WebKit export of https://bugs.webkit.org/show_bug.cgi?id=200081
  html/semantics/embedded-content/the-video-element/video_crash_empty_src-expected.txt
  html/semantics/embedded-content/the-video-element/video_crash_empty_src.html
Owners: none

Added 2 tests to cover for issue 3066
  css/css-writing-modes/wm-propagation-body-computed-direction-001.html
  css/css-writing-modes/wm-propagation-body-computed-direction-002.html
Owners: none

WebKit export of https://bugs.webkit.org/show_bug.cgi?id=205117
  media-source/mediasource-h264-play-starved-expected.txt
  media-source/mediasource-h264-play-starved.html
  media-source/mp4/h264-starvation-init.mp4
  media-source/mp4/h264-starvation-media.mp4
Owners: @shishimaru, @wolenetz

css-sizing/percentage-height-in-flexbox.html: start the test with signal window.onload
  css/css-sizing/percentage-height-in-flexbox.html
Owners: none

IDL: Refactor member attribute tests to use promise_test
  resources/idlharness.js
Owners: @gsnedders, @jgraham

IDL: Refactor member operation tests to use promise_test
  resources/idlharness.js
Owners: @gsnedders, @jgraham

IDL: Fix "member" variable getting overridden by loop
  resources/idlharness.js
Owners: @gsnedders, @jgraham

Add tests for the autocorrect attribute.
  html/editing/editing-0/autocorrection/autocorrection.html
Owners: none

Adjust some subtest descriptions in autocorrect.html.
  html/editing/editing-0/autocorrection/autocorrection.html
Owners: none

Add another subtest for the autocorrect attribute in password, email and url inputs.
  html/editing/editing-0/autocorrection/autocorrection.html
Owners: none

Check that individual transform properties do not affect the transform computed style.
  css/css-transforms/transform-and-individual-transform-properties-computed-style.html
Owners: none

Update css/css-transforms/transform-and-individual-transform-properties-computed-style.html
  css/css-transforms/transform-and-individual-transform-properties-computed-style.html
Owners: none

Use 2-digit precision for comparison in user-timing/measure-l3.any.js
  user-timing/measure-l3.any.js
Owners: @igrigorik, @plehegar, @toddreifsteck

Add test for lone surrogates and other awkward characters
  webdriver/tests/execute_script/execute.py
Owners: none

fixup! Add test for lone surrogates and other awkward characters
  webdriver/tests/execute_script/execute.py
Owners: none

fixup! Add test for lone surrogates and other awkward characters
  webdriver/tests/execute_script/execute.py
Owners: none

[mediacapture-record] Add tests for MediaRecorder.start()
  mediacapture-record/MediaRecorder-start.html
Owners: @miguelao

Remove CSS Transitions tests for discrete properties.
  css/css-transitions/support/properties.js
Owners: none

[fetch] Introduce tool for test generation
  fetch/api/resources/redirect.py
  fetch/metadata/resources/helper.sub.js
  fetch/metadata/resources/record-header.py
  fetch/metadata/resources/record-headers.py
  fetch/metadata/tools/README.md
  fetch/metadata/tools/build.sh
  fetch/metadata/tools/fetch-metadata.conf.yml
  fetch/metadata/tools/generate.py
  fetch/metadata/tools/requirements.txt
  lint.ignore
  update-built-tests.sh
Owners: none

[fetch] Replace metadata tests for link[rel=icon]
  fetch/metadata/favicon.https.sub.html
  fetch/metadata/generated/element-link-icon.https.sub.html
  fetch/metadata/generated/element-link-icon.sub.html
  fetch/metadata/tools/templates/element-link-icon.sub.html
Owners: none

[fetch] Replace metadata tests for iframe element
  fetch/metadata/generated/element-iframe.https.sub.html
  fetch/metadata/generated/element-iframe.sub.html
  fetch/metadata/iframe.https.sub.html
  fetch/metadata/iframe.sub.html
  fetch/metadata/resources/redirectTestHelper.sub.js
  fetch/metadata/tools/templates/element-iframe.sub.html
Owners: none

[fetch] Replace metadata tests for anchor
  fetch/metadata/download.https.sub.html
  fetch/metadata/generated/element-a.https.sub.html
  fetch/metadata/generated/element-a.sub.html
  fetch/metadata/iframe.https.sub.html
  fetch/metadata/tools/templates/element-a.sub.html
Owners: none

[fetch] Replace metadata tests for `fetch`
  fetch/metadata/fetch.sub.html
  fetch/metadata/generated/fetch.https.sub.html
  fetch/metadata/generated/fetch.sub.html
  fetch/metadata/resources/redirectTestHelper.sub.js
  fetch/metadata/tools/templates/fetch.sub.html
Owners: none

[fetch] Replace metadata tests for CSS @font-face
  fetch/metadata/font.https.sub.html
  fetch/metadata/generated/css-font-face.https.sub.tentative.html
  fetch/metadata/generated/css-font-face.sub.tentative.html
  fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.sub.html
  fetch/metadata/redirect/redirect-http-upgrade.sub.html
  fetch/metadata/redirect/redirect-https-downgrade.sub.html
  fetch/metadata/tools/templates/css-font-face.sub.html
Owners: none

[fetch] Replace metadata tests for img element
  fetch/metadata/generated/element-img.https.sub.html
  fetch/metadata/generated/element-img.sub.html
  fetch/metadata/img.https.sub.html
  fetch/metadata/redirect/cross-site-redirect.https.sub.html
  fetch/metadata/redirect/multiple-redirect-cross-site.https.sub.html
  fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.sub.html
  fetch/metadata/redirect/multiple-redirect-same-site.https.sub.html
  fetch/metadata/redirect/redirect-http-upgrade.sub.html
  fetch/metadata/redirect/redirect-https-downgrade.sub.html
  fetch/metadata/redirect/same-origin-redirect.https.sub.html
  fetch/metadata/redirect/same-site-redirect.https.sub.html
  fetch/metadata/tools/templates/element-img.sub.html
Owners: none

[fetch] Replace metadata tests for history nav
  fetch/metadata/generated/window-history.https.sub.html
  fetch/metadata/generated/window-history.sub.html
  fetch/metadata/history.https.sub.html
  fetch/metadata/resources/go-back.html
  fetch/metadata/resources/post-to-owner-onload.py
  fetch/metadata/tools/templates/window-history.sub.html
Owners: none

[fetch] Replace metadata tests for script element
  fetch/metadata/generated/element-script.https.sub.html
  fetch/metadata/generated/element-script.sub.html
  fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.sub.html
  fetch/metadata/redirect/redirect-http-upgrade.sub.html
  fetch/metadata/redirect/redirect-https-downgrade.sub.html
  fetch/metadata/script.https.sub.html
  fetch/metadata/script.sub.html
  fetch/metadata/tools/templates/element-script.sub.html
Owners: none

[fetch] Replace metadata tests for form submission
  fetch/metadata/form.https.sub.html
  fetch/metadata/generated/form-submission.https.sub.html
  fetch/metadata/generated/form-submission.sub.html
  fetch/metadata/tools/templates/form-submission.sub.html
Owners: none

fixup! [fetch] Introduce tool for test generation
  fetch/metadata/resources/record-headers.py
Owners: none

[fetch] Replace metadata tests for fetch-via-SW
  fetch/metadata/fetch-via-serviceworker--fallback.https.sub.html
  fetch/metadata/fetch-via-serviceworker--respondWith.https.sub.html
  fetch/metadata/generated/fetch-via-serviceworker.https.sub.html
  fetch/metadata/resources/fetch-via-serviceworker--respondWith--frame.html
  fetch/metadata/resources/fetch-via-serviceworker-frame.html
  fetch/metadata/tools/fetch-metadata.conf.yml
  fetch/metadata/tools/templates/fetch-via-serviceworker.https.sub.html
Owners: none

[fetch] Replace metadata tests: link[rel=prefetch]
  fetch/metadata/generated/element-link-prefetch.https.optional.sub.html
  fetch/metadata/generated/element-link-prefetch.optional.sub.html
  fetch/metadata/prefetch.https.sub.html
  fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade-prefetch.optional.sub.html
  fetch/metadata/redirect/redirect-http-upgrade-prefetch.optional.sub.html
  fetch/metadata/redirect/redirect-https-downgrade-prefetch.optional.sub.html
  fetch/metadata/resources/redirectTestHelper.sub.js
  fetch/metadata/tools/fetch-metadata.conf.yml
  fetch/metadata/tools/templates/element-link-prefetch.optional.sub.html
Owners: none

[fetch] Replace metadata tests for Service Workers
  fetch/metadata/generated/serviceworker.https.sub.html
  fetch/metadata/serviceworker.https.sub.html
  fetch/metadata/tools/fetch-metadata.conf.yml
  fetch/metadata/tools/templates/serviceworker.https.sub.html
Owners: none

fixup! fixup! [fetch] Introduce tool for test generation
  fetch/metadata/resources/record-headers.py
Owners: none

fixup! [fetch] Replace metadata tests for CSS @font-face
  fetch/metadata/redirect/multiple-redirect-https-downgrade-upgrade.sub.html
  fetch/metadata/redirect/redirect-http-upgrade.sub.html
Owners: none

fixup! [fetch] Add new metadata tests
  common/refresh.py
  fetch/metadata/resources/header-link.py
Owners: @deniak, @dontcallmedom, @gsnedders, @zqzhang

fixup! [fetch] Add new metadata tests
  fetch/metadata/generated/appcache-manifest.https.sub.html
  fetch/metadata/tools/fetch-metadata.conf.yml
Owners: none

HTML: the condition for opening a popup by window.open, and BarProp values for each case
  html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-is-popup-condition.html
  html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/resources/is-popup-barprop.html
Owners: none

CODEOWNERS:

# AUTOGENERATED FILE DO NOT EDIT
#
# To update this file edit the OWNERS files in each directory.
# Inclusion in this file acts as review notification but doesn't
# imply any further obligations.

2dcontext/tools/* @gsnedders
FileAPI/* @inexorabletash @jdm @mkruisselbrink @zcorpan @zqzhang
IndexedDB/* @chunywang @dumbmatter @inexorabletash @odinho @yunxiaoxie @zhaozihao @zqzhang
WebCryptoAPI/* @Wafflespeanut @engelke @jimsch
WebIDL/* @domenic @jensl @tobie @yuki3
XMLHttpRequest/* @Manishearth @annevk @caitp @emilio @hallvors @ibelem @jdm @jungkees @kangxu @mathiasbynens @ronkorving @wisniewskit
accelerometer/* @Honry @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
ambient-light/* @Honry @Volker-E @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
annotation-model/* @bigbluehat @halindrome @tcole3
annotation-vocab/* @gkellogg @halindrome
app-uri/* @happyoungj
assumptions/* @gsnedders
auxclick/* @NavidZ
background-fetch/* @beverloo @jakearchibald
battery-status/* @anssiko @dontcallmedom @zqzhang
bluetooth/* @g-ortuno @jyasskin @scheib
clipboard/* @garykac @hallvors
common/* @deniak @dontcallmedom @gsnedders @zqzhang
conformance-checkers/* @sideshowbarker
console/* @domenic @domfarolino @pwnall
content-security-policy/* @hillbrad
cors/* @annevk @hillbrad @jdm @odinho @zqzhang
css/* @gsnedders
css/CSS1/* @fantasai @gsnedders
css/CSS2/* @bert-github @chenxix @dbaron @fantasai @frivoal @gsnedders @kojiishi @kwkbtr @svgeesus
css/CSS2/i18n/* @bert-github @chenxix @dbaron @fantasai @frivoal @gsnedders @kojiishi @kwkbtr @r12a @svgeesus
css/WOFF2/* @gsnedders @khaledhosny @rsheeter @svgeesus
css/compositing-1/* @cabanier @gsnedders @nikosandronikos @plinss
css/css-animations-1/* @birtles @chunywang @dbaron @grorg @gsnedders @plinss @tabatkins @yunxiaoxie
css/css-backgrounds-3/* @bert-github @bradkemper @chenxix @dbaron @fantasai @gsnedders
css/css-block-3/* @bert-github @gsnedders
css/css-cascade-3/* @fantasai @gsnedders @tabatkins
css/css-color-4/* @gsnedders @svgeesus @tabatkins
css/css-conditional-3/* @dbaron @frivoal @gsnedders
css/css-counter-styles-3/* @gsnedders @r12a @svgeesus @tabatkins
css/css-counter-styles-3/i18n/* @gsnedders @r12a @svgeesus @tabatkins
css/css-display-3/* @fantasai @gsnedders @kojiishi @tabatkins
css/css-exclusions-1/* @astearns @atanassov @gsnedders
css/css-flexbox-1/* @atanassov @cbiesinger @chenxix @fantasai @gsnedders @kojiishi @mrego @plinss @tabatkins
css/css-fonts-3/* @gsnedders @litherum @nattokirai @svgeesus @yunxiaoxie
css/css-gcpm-3/* @dauwhe @gsnedders @plinss
css/css-grid-1/* @atanassov @fantasai @gsnedders @javifernandez @jxs @mrego @plinss @svillar @tabatkins @tomalec
css/css-images-3/* @fantasai @gsnedders @plinss @tabatkins
css/css-lists-3/* @gsnedders @tabatkins
css/css-logical-properties-1/* @atanassov @fantasai @gsnedders
css/css-masking-1/* @birtles @dirkschulze @gsnedders @tabatkins
css/css-multicol-1/* @frivoal @gsnedders
css/css-namespaces-3/* @dbaron @fantasai @gsnedders @plinss
css/css-page-3/* @SimonSapin @fantasai @gsnedders @plinss
css/css-pseudo-4/* @frivoal @gsnedders @plinss
css/css-regions-1/* @astearns @atanassov @gsnedders
css/css-rhythm-1/* @fantasai @gsnedders @kojiishi @plinss
css/css-round-display-1/* @gsnedders @jihyerish
css/css-ruby-1/* @fantasai @gsnedders @kojiishi @upsuper
css/css-scoping-1/* @fantasai @gsnedders @kojiishi @rniwa @tabatkins
css/css-shapes-1/* @astearns @atanassov @bemjb @gsnedders @kojiishi @plinss @zhorvath
css/css-speech-1/* @danielweck @gsnedders
css/css-style-attr/* @chenxix @fantasai @gsnedders @tantek
css/css-syntax-3/* @gregwhitworth @gsnedders @simonsapin @tabatkins
css/css-tables-3/* @FremyCompany @dbaron @gregwhitworth @gsnedders
css/css-text-3/* @fantasai @frivoal @gsnedders @hakatashi @kojiishi @nox @plinss @r12a
css/css-text-3/i18n/* @fantasai @frivoal @gsnedders @hakatashi @kojiishi @nox @plinss @r12a
css/css-text-decor-3/* @fantasai @gsnedders @kojiishi
css/css-transforms-1/* @chunywang @dbaron @dirkschulze @grorg @gsnedders @hober @minxhuang @plinss
css/css-transitions-1/* @dbaron @grorg @gsnedders @plinss
css/css-transitions-2/* @dbaron @gsnedders
css/css-ui-3/* @frivoal @gsnedders @mrego @plinss @svgeesus @tantek @web-flow
css/css-values-3/* @FremyCompany @dbaron @fantasai @frivoal @gsnedders @plinss @tabatkins
css/css-values-4/* @fantasai @frivoal @gsnedders @tabatkins
css/css-variables-1/* @SimonSapin @dbaron @gsnedders @svgeesus @tabatkins
css/css-writing-modes-3/* @fantasai @gsnedders @hshiozawa @kojiishi @myakura @plinss @r12a @snsk @upsuper
css/css3-color/* @JianfengXu @chenxix @dbaron @gsnedders @svgeesus @tantek
css/css3-selectors/* @fantasai @gsnedders @tantek @therealglazou
css/css3-selectors/i18n/* @fantasai @gsnedders @r12a @tantek @therealglazou
css/filter-effects-1/* @dirkschulze @grorg @gsnedders @svgeesus
css/fonts/* @fantasai @gsnedders @kojiishi
css/geometry-1/* @dirkschulze @gsnedders @peterjoel @tschneidereit @zcorpan
css/mediaqueries-3/* @dbaron @frivoal @gsnedders @plinss
css/reference/* @gsnedders
css/selectors4/* @frivoal @gsnedders @plinss @tabatkins
css/support/* @frivoal @gsnedders
css/tools/* @gsnedders @jgraham @kojiishi @plinss
css/vendor-imports/mozilla/* @dbaron @gsnedders
css/work-in-progress/adobe/* @astearns @gsnedders
css/work-in-progress/aryehgregor/* @ayg @gsnedders
css/work-in-progress/bert/* @bert-github @gsnedders
css/work-in-progress/dauwhe/* @dauwhe @gsnedders
css/work-in-progress/fantasai/* @fantasai @gsnedders
css/work-in-progress/i18n/* @gsnedders @r12a
css/work-in-progress/microsoft/* @FremyCompany @gregwhitworth @gsnedders
css/work-in-progress/mozilla/* @dbaron @gsnedders
css/work-in-progress/opera/* @gsnedders @zcorpan
css-fonts/matching/* @drott @fantasai @litherum @nattokirai
css-fonts/variations/* @drott @fantasai @litherum @nattokirai
css-paint-api/* @bfgeek @grorg @shans
css-timing/* @BorisChiou @birtles
cssom/* @dbaron @lilles @plinss @rune-opera @therealglazou @zcorpan
cssom-view/* @AutomatedTester @plinss @zcorpan
custom-elements/* @alsemenov @deepak-sa @domenic @dominiccooney @hayatoito @kojiishi @rniwa @sgrekhov @takayoshikochi
docs/* @dontcallmedom @gsnedders @sideshowbarker @zcorpan
dom/* @ayg @jdm @zcorpan @zqzhang
domparsing/* @ChrisParis @jdm
domxpath/* @deniak @gsnedders @zqzhang
dpub-aam/* @halindrome @joanmarie
dpub-aria/* @halindrome
editing/* @ayg
encoding/* @annevk @inexorabletash
encrypted-media/* @ddorwin
eventsource/* @Yaffle @annevk @odinho @zqzhang
fetch/* @annevk @jdm @mnot @youennf
fonts/* @gsnedders
fullscreen/* @aliams @foolip @jernoble @upsuper
gamepad/* @luser
generic-sensor/* @Honry @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
geolocation-API/* @jdm @mcasas @zqzhang
gyroscope/* @Honry @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
hr-time/* @igrigorik @plehegar @toddreifsteck
html/* @jdm @jgraham @zcorpan @zqzhang
html/dom/* @ayg @jdm @jgraham @zcorpan @zqzhang
html/editing/* @ayg @jdm @jgraham @zcorpan @zqzhang
html/infrastructure/* @ayg @jdm @jgraham @zcorpan @zqzhang
html/obsolete/* @ayg @jdm @jgraham @zcorpan @zqzhang
html/semantics/* @ayg @jdm @jgraham @zcorpan @zqzhang
html/syntax/* @gsnedders @jdm @jgraham @zcorpan @zqzhang
html/tools/* @gsnedders @jdm @jgraham @zcorpan @zqzhang
html-imports/* @omo
html-longdesc/* @chaals @cptvitamin
html-media-capture/* @haoxli @zqzhang
images/* @gsnedders @tagawa @zqzhang
input-events/* @johanneswilm @siusin
interfaces/* @domenic @jensl @tobie @yuki3
magnetometer/* @Honry @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
media/* @gsnedders @hillbrad
media-source/* @shishimaru @wolenetz
mediacapture-record/* @miguelao
mediacapture-streams/* @agouaillard @alvestrand @dontcallmedom
mixed-content/* @kristijanburnik
navigation-timing/* @igrigorik @plehegar @toddreifsteck @yoavweiss
notifications/* @chunywang @ibelem @sideshowbarker @xinliux
offscreen-canvas/tools/* @gsnedders
orientation-sensor/* @Honry @alexshalamov @dontcallmedom @pozdnyakov @riju @zqzhang
page-visibility/* @igrigorik @plehegar @toddreifsteck
payment-method-id/* @alphan102 @edenchuang @marcoscaceres
payment-request/* @alphan102 @edenchuang @marcoscaceres
performance-timeline/* @igrigorik @plehegar @toddreifsteck
pointerevents/* @EvgenyAgafonchikov @NavidZ @RByers @Steditor @bethge @jacobrossi @plehegar @scottgonzalez @staktrace
pointerlock/* @scheib @siusin
presentation-api/* @louaybassbouss @tidoust @zqzhang
proximity/* @dontcallmedom @zqzhang
quirks-mode/* @zcorpan
referrer-policy/* @estark37 @jeisinger @kristijanburnik
resource-timing/* @haoxli @igrigorik @plehegar @toddreifsteck @yoavweiss @zqzhang
resources/* @gsnedders @jgraham
resources/test/tests/idlharness/* @gsnedders @jgraham @tobie
screen-orientation/* @haoxli @marcoscaceres
selection/* @ayg
service-workers/* @ehsan @mattto @mkruisselbrink
service-workers/cache-storage/* @ehsan @inexorabletash @mattto @mkruisselbrink @wanderview
shadow-dom/* @hayatoito @kojiishi @rniwa @takayoshikochi
staticrange/* @garykac @siusin
storage/* @annevk @inexorabletash
streams/* @calvaris @domenic @ricea @tyoshino @wanderview @youennf @yutakahirano
subresource-integrity/* @fmarier @hillbrad @jonathanKingston @mastahyeti @metromoxie @mikewest
svg/* @heycam @nikosandronikos
svg-aam/* @halindrome
tools/* @gsnedders @jgraham
tools/wptrunner/* @bobholt @gsnedders @jgraham
touch-events/* @cynthia @jtangelder @zqzhang
uievents/* @jdm @zqzhang
url/* @GPHemsley @Sebmaster @TimothyGu @annevk @domenic @mikewest @rubys @smola @tomalec @xiaojunwu @zcorpan
user-timing/* @igrigorik @plehegar @toddreifsteck
vibration/* @dontcallmedom @xinliux @zqzhang
viewport/* 
wai-aria/* @halindrome @joanmarie
web-animations/* @birtles
web-nfc/* @Honry @alexshalamov @kenchris @zolkis
web-share/* @marcoscaceres @mgiuca
webaudio/* @chrislo @padenot @rtoy
webauthn/* @apowers313
webdriver/* @AutomatedTester @andreastt @lukeis @mjzffr @shs96c
webgl/* @emilio
webmessaging/* @annevk @aogilvie @jdm @mkruisselbrink @zqzhang
webrtc/* @agouaillard @alvestrand @dontcallmedom @guidou @henbos @phoglund @rwaldron @youennf
websockets/* @Jxck @jdm @kristijanburnik @zcorpan @zqzhang
webstorage/* @chunywang @ibelem @inexorabletash @jdm @kangxu @siusin @zqzhang
webusb/* @reillyeon
webvr/* @klausw
webvtt/* @BenjaminSchaaf @silviapfeiffer @zcorpan
workers/* @annevk @caitp @chunywang @jdm @zcorpan @zqzhang
